
// VARIABLES

$main-font-color: #A370A4;

.App {
  text-align: center;
    font-family:sans-serif,serif;
  color:#2D182E;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;

  
}


.debt{
  height: auto;
  width: 90%;
  margin: 20% auto;
  
   
    form{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;

        input{
          height: 20px;
          margin: 18.720px 0;
        }
      
    }
    .debtList{
    
      margin: 1% auto;
      display: flex;
      flex-wrap: wrap;
      padding: 1%;
    }
   
 
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  h4{
    margin: 17px 0px;
  }
  .input{
    margin:  50px 0 ;
  }
  
}

 
=======
}

// NAV COMPONENT

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;

  div {
    margin-left: 10px;
  }

  ul  {
    list-style-type: none;
    display: flex;

    li {
      margin: 0 10px;
    }

    li:hover {
      color: $main-font-color;
      font-weight: bold;
    }
  }
}


/* SECURITY */

.Security-Form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 10px 0;
  }

  button {
    width: 150px;
  }
}


/* SIGN UP */

.signup-div form{
  display: flex;
  flex-direction: column;

  input {
    margin: 10px 0;
  }
}


.last-button {
  background: red;
  color: white;
}